@use "base";

// Category

.list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

.list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: space-between;
  justify-content: space-evenly;
  overflow: visible;
  width: 90%;
}

.list-title {
  font-family: "HyliaSerifBeta", sans-serif !important;
  color: base.$light-gold;
  text-transform: capitalize;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #ad7a2928;
  flex-basis: 100%;
  flex: 1;
  padding-top: 0.2em;
}

.list-div {
  display: flex;
  flex-direction: column;
  max-width: 30%;
}

// ListEntry
.list-item {
  max-width: 95%;
  border: 3px solid base.$gold;
  border-radius: 0.5em;
  margin-left: 0.25em;
  margin-right: 0.25em;
  margin-bottom: 0.6em;
  background-color: #0d9263;
  background-image: url("https://www.transparenttextures.com/patterns/cardboard-flat.png");
  box-shadow: 1px 1px 4px -1px;
}

.list-item:hover {
  background-color: #188c5bc3;
  background-image: url("https://www.transparenttextures.com/patterns/cardboard-flat.png");
  box-shadow: 2px 2px 8px -2px;
}

.list-stack {
  width: 100%;
}

.list-image {
  width: 100px;
  height: 100px;
  border-radius: 8px;
}

.list-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-transform: capitalize;
  width: 100%;
}

.list-name {
  font-size: 1.2rem !important;
}

.list-name:hover {
  color: base.$gold;
  cursor: pointer;
}

@media (max-width: 850px) {
  .list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 98%;
  }
  .list-div {
    max-width: 98%;
    width: 90%;
    align-items: center;
  }
  .list-item {
    max-width: 90%;
  }
}
